

body{
     
    background-image:url("photo_fond.jpg");
    background-size:1400px;
    height:1200px;
    background-position:center
    }

a {
 text-decoration:none; 
 color:inherit
}

ul {
    list-style-type:none;
    
}
    

#conteneur{
    width:90%;
    margin:40px auto 40px auto;
    background-color:#413D3D;
    border-radius:10px;
    padding-bottom:5px
        }

#header{
width:100%;
height:150px;
background-color:#413D3D;
padding-top:2%;
border-radius:10px
}


@font-face{
    font-family:amatic;
    src: url('Amatic-Bold.ttf') format('truetype')
    }


#titre{ 
    position:absolute;
    margin-left:9%;
    top:26%;
    font-style:italic;
    font-family:amatic, "bradley hand ITC", "trebuchet ms", fantasy;
    font-size:4em;
    font-weight:normal;
    text-shadow: 1px 1px 1px #DCDCDC;
    letter-spacing:10px
}
 
    
                        /*      MENU         */

#menu {
    text-align:right;
    margin-right:10%;
    margin-top:3%;
    list-style-type:none;                    
    font-family:"trebuchet ms";
    font-weight:bold;
    color:#DCDCDC;
    letter-spacing:1px
}

#menu ul {
    padding:5px
}

#menu li {
    display:inline-block;               /*pour afficher en horizontal comme si c'etaient des elements inline*/
    text-align: center;
    padding-right:15px;
    padding-left:15px;
    padding-top:4px;
    padding-bottom:4px;
    color:#DCDCDC;
    font-size:0.9em
}



#menu ul {
    position:absolute;                         /*pour que les elements ne bougent pas par rapport au mouvement des autres*/         
    left:-999em                                /*pour ne pas afficher*/
}

#menu li:hover ul {
    left:auto                                              /*pour afficher*/
}


#menu li ul li{                                     /*style du sous-menu*/
    display:inline-block;
    background:url(fondliste.jpg) bottom;
    width:120px;
    padding:10px;
    color:#DCDCDC;
    font-size:0.9em
}

#menu li ul li{                                     /*regler la position*/
    position:relative;
    right:33%
}

#menu li ul li ul{
    position:absolute;                              /*ne pas afficher: autre modalité*/
    display:none
}

#menu li ul li:hover ul{                            /*afficher au passage de la souris*/
    display:block;
    z-index:1000;                                    /*afficher le menu en premier plan (par rapport au titre)*/
    margin:10px
}

#menu li ul li ul li{                                     /*style du sous-sous-menu*/
    background:url(fondliste.jpg) bottom;
    width:120px;
    padding:10px;
    color:#DCDCDC;
    border-bottom:1px solid #DCDCDC;
    font-size:inherit    
}

#menu li ul li ul li{                               /*regler la position*/
    position:relative;
    right:18%
}

                        /*      FIN MENU        */


   
#footer{
    padding:20px;
    position:relative;
    left:40%;
    font-family:"trebuchet MS","gill sans mt",arial,georgia;
    font-size:0.8em    
}    




#content{
    width:80%;
    margin: 150px 10% 50px 10%;
    background-color:white;
    border-radius:10px;
    font-family:"trebuchet MS","gill sans mt",arial,georgia;
    font-size:0.95em;
    text-align:justify
           }
 
 
table
{                                         
    width:100%
}

td{                                         
    width:50%;
    padding:2%;
    vertical-align:top;
    font-family:"trebuchet MS","gill sans mt",arial,georgia;
    font-size:0.9em;
    text-align:justify
}
 

img{                                        
    float:left;
    margin:10px;
    border:none
            }
            
.cell_1 {                     /*    Menu par images     */  
    width:60%;
    padding-left:65px  
             } 


.cell_2  {                  /*      Titre de la page    */
    width:40%
             } 
             
h2 {                        /*      Titre de la page    */
   
    text-align:right;
    padding-right:20%;
    font-style:italic;
    font-family:"trebuchet ms", "bradley hand ITC", fantasy;
    font-size:3em;
    font-weight:200             
        } 



h3 {                      /*  Titre "Album" et "Compilation"      */
    padding-left:80px;
    font-style:italic;
    font-family:"trebuchet ms", "bradley hand ITC", fantasy;
    font-size:2em;
    font-weight:200;
    text-shadow:2px 2px 1px #DCDCDC
        } 
 
 

.text{                                        
    padding:20px 80px 20px 80px;
    font-family:"trebuchet MS","gill sans mt",arial,georgia;
    font-size:0.9em;
    text-align:justify;
    line-height:1.5
            } 
            
.text a {
    text-decoration:underline
}            



.p1{                                /*  Paragraphes de la Page Biographie   */
    text-align:justify;
    width:90%
    }

.p2{
    text-align:justify;
    width:90%;
    position:relative;
    left:10%
    }
    

.colonna_1 {                /*  Text Discographie   */
    float:left;
    width:48%;
    margin-bottom:70px
}

.colonna_2 {
    float:right;
    width:48%;
    margin-bottom:70px
}
    

.cell_3 {                   /*  Page Discographie: Titre Albums    */
    width:23%;
    text-align:left;
    padding-left:0px;
    font-size:inherit
}




 
 


        
